{% extends 'base.html' %}
{% load humanize %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Files</li>
{% endblock %}

{% block content %}
    <div class="mb-4">
           <input id="myInput" class="form-control form-control-lg" type="text" placeholder="Search">
    </div>

    <div class="mb-4">
        <a href="{% url 'new_file' %}" class="btn btn-primary">New File</a>
    </div>

    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>FileName</th>
            <th>Last Post</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="myTable">
        {% for file in files %}
            <tr>
                <td>
                    <a href="{{ file.document.url }}">{{ file.document }}</a>
                    <small class="text-muted d-block">{{ file.description }}</small>
                </td>
                <td class="align-middle">
                    At {{ file.uploaded_at|naturaltime }}
                </td>
                <td>
                    <form method="post" class="deleteform" action="{% url 'delete_file' pk=file.pk %}">
                        {% csrf_token %}
                        <a href="#" class="delete" title="Delete"><i class="material-icons">&#xE872;</i></a>
{#                        <input type="hidden" name="pk" value="{{ file.pk }}">#}
                    </form>

                </td>
                {% empty %}
                <td>No files yet.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascript %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}